.heading {
    background-color: lightgrey;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

body {
    background-color: whitesmoke;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
}

html {
    background-color: lightskyblue;
}